.add-note {
    width: 10rem;
    background-color: #83cddd;
}

.add-note:hover {
    width: 10rem;
    background-color: #ffffff;
    color: #83cddd;
}

.new-note {
    display: inline-block;
    padding: 3em;
}